<% provide(:title, 'Home') %>
<h1>MC Custom Motorcycle Shop</h1>
<p>Welcome MC Custom Shop where you can get all your custom work done by the MC Custom Team.</p>
<div>
<img alt="cycle" src="/assets/110.jpg"/>
<img alt="pcoat" src="/assets/Frame_Lollypops_Orange.jpg"/>
<img alt="cycle" src="/assets/buell.jpg"/>
</div>
<div class="container">
  <h2>Located at:</h2>
  <h4>91 Felton St.</h4>
  <h4>Waltham, MA 02453</h4>

<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=91+Felton+St.+Waltham,+MA+02453&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=42.036922,-71.683501&amp;sspn=3.41881,4.971313&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=42.373891,-71.244793&amp;spn=0.038045,0.051498&amp;z=13&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=91+Felton+St.+Waltham,+MA+02453&amp;hl=en&amp;geocode=&amp;aq=&amp;sll=42.036922,-71.683501&amp;sspn=3.41881,4.971313&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=42.373891,-71.244793&amp;spn=0.038045,0.051498&amp;z=13" style="color:#0000FF;text-align:left">Get Directions</a></small>
</div>



