<% provide(:title, 'Services') %>
<h1>Service</h1>
<div>
  <ul>
    <li>Powder Coating</li>
    <li>Maintenance Services</li>
    <li>Tune Ups</li>
    <li>Big Bore Kits</li>
    <li>Wide Tire Kits</li>
    <li>Engine Overh</li>
    <li>Custom Lights</li>
  </ul>
</div>
