<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MC Custom", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '#' %></li>
        </ul>
      </nav>
    </div>
    <div>
      <p>XXX-XXX-XXXX</p>
      <a href="mailto:mike@mccustom.com">Email Us</a>
    </div>
  </div>
</header>
