<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "MC Custom", root_path, id: "logo" %>
      <nav>
        <ul class="pull-right">
          <li><p id="main_number"> <i class="icon-bell icon-white"></i> 508.689.8036</p></li>
          <li><a id="email" href="mailto:mike@mccustom.com"><i class="icon-envelope icon-white"></i> Email Us</a></li>
      </ul>
      </nav>
    </div>

  </div>
</header>
